body{
    background-color: #151515;
} 

#title {
    transition-property: opacity;
    transition-duration: 1s;

    font-family: 'Moon Dance', cursive;
    font-size: 5em;
    color: gold;
    margin: auto;
    text-align: center;

}

#init {
    transition-property: background, opacity;
    transition-duration: 1s;

    width: 10em;
    top: 250px;
    left: calc(50% - 5em);
    font-size: 2em;
    background-color: #346751;
    border-color: #3C415C;
    box-shadow: 2em 1em 1em 1em #000;

    position: relative;
    text-align: center;
    border-radius: 5em;

    cursor: pointer;
}

#init:hover{
    background-color: red;

}

